html,body{
  background-color:#22252A;
  color:#E3E3E3;
  font-family: Arial, sans-serif;
}

div.center{
  width:640px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

h1{
  font-family: Helvetica, sans-serif;
  font-weight:bold;
  font-size:40px;
  padding-top:10px;
  padding-bottom:10px;
}

div.center a{
  color:#B9C949;
}
